<script>
var pubnub = PUBNUB({
  subscribe_key: 'sub-c-ce8ecf20-6eb2-11e5-ba34-02ee2ddab7fe', 
  publish_key: 'pub-c-af81b32e-d0dd-48a3-bac3-fbf02d262285'    
});

$(document).ready(function() {
  
  $("#start_game").on("click", function(event){
    event.preventDefault();
    
    $(this).attr("disabled", "disabled");
    $(this).removeAttr("href");

    var horse_team = $("#horse_team").val();
    var horses_per = $("#horses_per").val();

    $.post('/generate_draft.json', { horses_per: horses_per, 
                                     horse_team: horse_team, 
                                     room_code: "<%= @room_code %>" 
                                   }, 
      function(returnedData){
        console.log("Page reloading");
        window.location.reload();
        pubnub.publish({
          channel: 'game_on',        
          message:  { game: "start" },
          callback : function(m){}
        });
    });


  });

  pubnub.publish({
    channel: 'signon',        
    message:  { user: "<%= @user %>" },
    callback : function(m){}
  });

  pubnub.subscribe({
    channel: 'game_on',
    message: function(message){
      console.log("Page reloading");
      window.location.reload();
    },
    error: function (error) {
      console.log(JSON.stringify(error));
    }
  });

  pubnub.subscribe({
    channel: 'signon',
    message: function(message){

      if($("#" + message.user).length == 0) {
        console.log("Adding");
        $("#whos_online").append("<div id=\"" 
          + message.user + "\" class=\"row\">" 
          + message.user
          + "<img id=\"" + message.user 
          + "_img\"" 
          + "src=\"/img/purple_devil.png\" width=\"5%\" height=\"5%\">"
          + "</div>");
      }
      else {
        $("#" + message.user + "_img").css("display", "inline");
      }
    },
    connect: pubnub.publish({
             channel: 'signon',        
             message:  { user: "<%= @user %>" }
          }),
    error: function (error) {
      console.log(JSON.stringify(error));
    }
  });    


});

</script>
<div class="row">
  <div class="col-md-4">
    <h2>GAME IS ABOUT TO START, <%= @user %></h2>
    <h3>Room Code: <%= @room_code %></h3>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    Room Manager: <%= @manager ? @manager : '(Manager has quit.. )' %>
  </div>
</div>

<div class="row">
  <div class="col-md-4" id="whos_online">
    <% @players.each do |player| %>
      <div id="<%= player %>" class="row">
        <%= player %><img id="<%= player %>_img" src="/img/purple_devil.png" width="5%" height="5%">
      </div>
    <% end %>
  </div>
</div>

<% if @manager == @user %>
<div class="row">
  <div class="col-md-4">
    <p>
      <form role="form">
        <div class="form-group">
          <label for="sel1">Select team (select one):</label>
          <select class="form-control" id="horse_team">
            <% @teams.each do |team| %>
              <option value="<%= team.first %>"><%= team.first %> vs. <%= team[1] %></option>
            <% end %>
          </select>
          <label for="sel1">Horses per team:</label>
          <select class="form-control" id="horses_per">
              <option selected value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
          </select>

        </div>
      </form>
    </p>

    <p><a class="btn btn-default" id="start_game" role="button">EVERYONES IN GUYS</a></p>
  </div>
</div>
<% end %>
<hr>