<script>
  

  $( document ).ready(function() {

    var client = new Faye.Client('/faye')
    client.disable('websocket');
    
    $("#start_game").on("click", function(){

      $.post('/generate_draft.json', { room_code: "<%= @room_code %>" }, 
        function(returnedData){
          console.log(returnedData);
          location.reload();
        });


    });


    client.publish('/signon', {
      user: "<%= @user %>"
     });
 
    client.subscribe('/signon', function(message) {
   
      if($("#" + message.user).length == 0) {
        console.log("Adding");
        $("#whos_online").append("<div id=\"" 
          + message.user + "\" class=\"row\">" 
          + message.user
          + "<img id=\"" + message.user 
          + "_img\"" 
          + "src=\"/img/purple_devil.png\" width=\"5%\" height=\"5%\">"
          + "</div>");
      }
      else {
        $("#" + message.user + "_img").css("display", "inline");
      }


    });

  });

</script>
<div class="row">
  <div class="col-md-4">
    <h2>GAME IS ABOUT TO START, <%= @user %></h2>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    Room Manager: <%= @manager %>
  </div>
</div>

<div class="row">
  <div class="col-md-4" id="whos_online">
    <% @players.each do |player| %>
      <div id="<%= player %>" class="row">
        <%= player %><img style="display: none" id="<%= player %>_img" src="/img/purple_devil.png" width="5%" height="5%">
      </div>
    <% end %>
  </div>
</div>

<% if @manager == @user %>
<div class="row">
  <div class="col-md-4">
    <p><a class="btn btn-default" id="start_game" role="button">EVERYONES IN GUYS</a></p>
  </div>
</div>
<% end %>
<hr>